body {
    width: 300px;
    padding-left: 50px;;

}

div {
    border-top: 1px solid black;
}

p {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    
}

p:hover {
    background: rgb(240, 99, 99) 
}